/* 版心 */

.contain {
    width: 1024px;
    margin: 0 auto;
}


/* perHead部分样式 */

.perHead {
    background-color: #f3f9fb;
    margin-top: 10px;
    height: 40px;
    line-height: 40px;
    padding-left: 45px;
}

.perHead ul {
    margin-top: 5px;
}

.perHead li {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 2px solid #0784be;
    width: 150px;
    text-align: center;
    background-color: white;
    border-bottom: none;
}


/* perContain部分样式 */

.perContain {
    width: 100%;
    height: 650px;
    padding: 5px 20px;
    overflow: hidden;
    position: relative;
    background-color: #f3f9fb;
    margin-top: 10px;
    margin-bottom: 30px;
}

.perContainHead {
    height: 40px;
    position: relative;
    border-bottom: 1px solid #e4e4e4;
}

.info {
    width: auto;
    height: 40px;
    padding: 0px 10px;
    position: absolute;
    top: 0px;
    left: 0px;
    border-bottom: 2px solid #0784be;
    font-size: 17px;
    line-height: 40px;
    color: #0784be;
}

.perContainMain {
    height: 500px;
    /*  padding-top: 5px; */
    overflow: hidden;
    position: relative;
    background-color: #fff;
    margin-top: 10px;
}

.perContainMain table {
    width: 100%;
    table-layout: fixed;
}


/* 
tr,
td {
    font-family: "微软雅黑", Arial, verdana;
    font-size: 11px;
    color: #676767;
    line-height: 22px;
} */

.perContainMain table th.line {
    border-bottom: 2px solid #0784be;
    line-height: 40px;
    text-align: center;
    color: #333;
    font-size: 14px;
    font-weight: 700;
}

.perContainMain table th {
    line-height: 40px;
    text-align: center;
    color: #333;
    font-size: 12px;
    font-weight: normal;
    border-bottom: 1px dashed #ced5e0;
}

.perContainMain table th.list1 {
    width: 140px;
}

.perContainMain table th.list2 {
    width: 140px;
}

.perContainMain table th.list4 {
    width: 400px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.fenye {
    text-align: center
}