<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title> 企业用工需求</title>
    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/tablecs/bc.grid-1.0.0.min.css" />
</head>

<body style="background-color: #f4f6f8;">
    <h1 style="text-align: center;">企业用工需求统计</h1>
    <div>
        <div id="table" style="width: 98%; height: 768px; margin: 0 auto;"></div>
    </div>
    <script src="../assets/js/jquery-3.2.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="../assets/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="../assets/js/domainName.js" type="text/javascript" charset="utf-8"></script>
    <script src="../assets/js/tablejs/bc.grid-1.0.0.min.js" type="text/javascript" charset="utf-8"></script>
    <script>
 
			var item = [];
			$.ajax({
				type: "post",
				url: ipAddress + '/stats/getCorporationResource',
				async: false,
				success: function(msg) {
					for(i = 0; i < msg.data.length; i++) {

//						msg.data[i].employRate = msg.data[i].employRate + "%"

						item.push(msg.data[i])

					}

				},
			});
        var data =item ;
        $(function() {
            var grid = BCGrid.create("#table", {
                columns: [

                    {
                        id: 'name',
                        name: 'companyName',
                        display: '企业'
                    },

                    {
                        name: 'resPosition',
                        display: '工种',
                        enableSort: true
                    }, {
                        name: 'resRequire',
                        display: '人数需求',
                        enableSort: true
                    }, {
                        name: 'resLoss',
                        display: '人员缺口',
                        enableSort: true
                    },
                ],
                dataSource: 'local',
                localData: data
            });



        });
    </script>
</body>

</html>