<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>信息录入</title>
		<link rel="stylesheet" href="../assets/less/base.css" type="text/css">
		<link rel="stylesheet" href="../assets/less/index.css" type="text/css">
		<link rel="stylesheet" href="../assets/lib/font-awesome/css/font-awesome.css">
		<link rel="stylesheet" href="../assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="../webuploader/webuploader.css">
		<style>
			input::-webkit-outer-spin-button,
			input::-webkit-inner-spin-button {
				-webkit-appearance: none !important;
				margin: 0;
			}
			
			select {
				background-color: rgba(255, 255, 255, 0.9);
				width: 100%;
				padding: 5px;
				border: 1px solid #ccc;
				border-radius: 5px;
				height: 3rem;
				outline: none;
			}
			
			select:disabled {
				color: rgba(0, 0, 0, 0.3);
			}
			
			.header ul li a {
				outline: none;
				cursor: pointer;
			}
			
			.disable {
				pointer-events: none;
			}
		</style>

	</head>

	<body>
		<!-- 左边的侧边栏 -->
		<div class="aside" id="aside">
			<!-- 左上部分的用户信息 -->
			<div class="profile">
				<div class="avatar" id="aa">
					<img src="../uploader/1.jpg" alt="" class='img-circle'>
				</div>
				<h5 id="usersName"></h5>
			</div>

			<!--左下部分的导航-->
			<div class="menu">
				<ul>
					<li>
						<a href="./personnel.html">权限管理</a>
					</li>
					<li>
						<a href="./userControl.html">用户管理</a>
					</li>
					<li style="display: none;">
						<a href="./operation.html">业务管理</a>
					</li>
					<li>
						<a class="slide" style="cursor: pointer;">业务管理<span class='arrow fa fa-angle-right pull-right'></span></a>
						<ul style="display: none;" id="show" class="xz">
							<li>
								<a href="./operation.html">就管中心</a>
							</li>
							<li>
								<a href="./operation.html">社保中心</a>
							</li>
							<li>
								<a href="./operation.html">劳动监察</a>
							</li>
							<li>
								<a href="./operation.html">仲裁院</a>
							</li>
							<li>
								<a href="./operation.html">人事处</a>
							</li>
						</ul>
					</li>
					<li>
						<a class="slide" style="cursor: pointer;">信息管理<span class='arrow fa fa-angle-right pull-right'></span></a>
						<ul style="display: none;" id="show" class="xz">
							<li>
								<a href="./notice.html">公告</a>
							</li>
							<li>
								<a href="./commonProblems.html">常见问题</a>
							</li>
							<li>
								<a href="./guide.html">办事指南</a>
							</li>
							<li>
								<a href="./query.html">信息录入</a>
							</li>
							<li>
								<a href="./datafill.html">数据录入</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="./DataDisplay2.html">数据报表</a>
					</li>
					<li>
						<a href="./systemMaintenance.html">系统维护</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- 右边主体部分 -->
		<div class="main">
			<!-- 右边上部分工具部分 -->
			<div class="header">
				<!-- 导航条部分 -->
				<nav class="navbar navbar-default">
					<div class="container-fluid">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<a class="navbar-brand" href="javascript:;"><span class='fa fa-navicon'></span></a>
						</div>

						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav navbar-right">
								<li>
									<a data-toggle="modal" data-target="#personalInformation"> <span class='fa fa-user-circle'></span> 个人中心</a>
								</li>
								<li>
									<a data-toggle="modal" data-target="#changePassword"><span class='fa fa-key fa-fw'></span>修改密码</a>
								</li>
								<li>
									<a data-toggle="modal" data-target="#logOut"><span class='fa fa-sign-out'></span>退出</a>
								</li>
							</ul>
						</div>
						<!-- /.navbar-collapse -->
					</div>
					<!-- /.container-fluid -->
				</nav>

			</div>

			<!-- 右边下部分 ，网站的主体页面-->
			<div class="body">
				<!-- 面包屑导航 -->
				<ol class="breadcrumb">
					<li>
						<a href="./personnel.html">首页</a>
					</li>
					<li>
						信息管理
					</li>
					<li>数据录入</li>
				</ol>
				<!-- 面板，添加人员-->
				<div class="panel panel-default">
					<div class="panel-body ">
						<form class="form-inline">
							<div class="form-group">
								<label>查询类型：</label>
							</div>
							<div class="input-group input-group-sm">
								<select name="" id="mySelect" onchange="show_sub(this.options[this.options.selectedIndex].value)">
									<option value="5">养老保险参保情况</option>
									<option value="2">企业用工情况</option>
									<option value="3">企业用工需求</option>
									<option value="6">基本医疗保险参保情况</option>
								</select>
							</div>
						</form>
					</div>
				</div>

				<!-- 面板，搜索框与表格 -->
				<div class="tableEle" id="actionEle1">
					<div class="panel panel-default " id="panel1">
						<div class="panel-body" style="margin-top: 15px;">
							<!-- 搜索框 -->
							<div class="col-md-8">
								<form class="form-inline">
									<div class="form-group">
										<label>查询：</label>
									</div>
									<div class="input-group input-group-sm">
										<input type="text" placeholder="乡办名称" class="form-control searchName">
										<span class="input-group-btn">
                                    <button class="btn btn-success" type="button" id="search1" onclick="searchRoute(this)">搜索</button>
                                </span>
									</div>
									<input type="button" class='btn btn-success btn-sm' data-toggle="modal" data-target="#myModal" style="outline: none;" onclick="myModal()" value="新增养老保险">
									<input type="button" class='btn btn-success btn-sm' data-toggle="modal" data-target="#myModal5" style="outline: none;" onclick="myModal()" value="导入养老保险">
								</form>

							</div>
						</div>

						<div class="panel-body" style="margin-top: 15px;">
							<!-- 养老保险参保情况表格 -->
							<table class="table table-bordered table-hover">
								<thead>
									<th>乡办</th>
									<th>户籍人口</th>
									<th>职工养老</th>
									<th>居民养老</th>
									<th>参保率</th>
									<th>操作</th>
								</thead>
								<tbody class="pensionInsurance1">

								</tbody>
							</table>
							<div class="row">
								<nav class="page col-md-3 col-md-offset-9" aria-label="Page navigation">
									<ul class="pagination" style="margin: 40px -240px;">

										<li id="fristPage">
											<a href="#" aria-label="Previous">
												<span aria-hidden="true">首页</span>
											</a>
										</li>
										<li id="previous">
											<a href="#" aria-label="Previous">
												<span aria-hidden="true">上一页</span>
											</a>
										</li>
										<li id="next">
											<a href="#" aria-label="Next">
												<span aria-hidden="true">下一页</span>
											</a>
										</li>
										<li id="lastPage">
											<a href="#" aria-label="Next">
												<span aria-hidden="true">尾页</span>
											</a>
										</li>
									</ul>
									<div id="" style="float: right; margin: 40px;">
										<span>跳转到</span>
										<input type="number" name="" id="toPage" value="" style="width: 40px;height: 25px;border-radius: 3px; text-align: center;" />
										<span>页</span>
										<button class="btn btn-primary btn-sm" id="jumpPage" style="margin-left: 10px;">确定</button>
									</div>
								</nav>

							</div>
						</div>
					</div>
				</div>
				<div class="tableEle" id="actionEle2">
					<div class="panel panel-default" id="panel2" style="display: none;">
						<div class="panel-body" style="margin-top: 15px;">
							<!-- 用工情况搜索框 -->
							<div class="col-md-8">
								<form class="form-inline">
									<div class="form-group">
										<label>企业查询：</label>
									</div>
									<div class="input-group input-group-sm">
										<input type="text" placeholder="企业名称" class="form-control searchName1">
										<span class="input-group-btn">
                                        <button class="btn btn-success" type="button" id="search2" onclick="searchRoute(this)">搜索</button>
                                    </span>
									</div>
									<input type="button" class='btn btn-success btn-sm' data-toggle="modal" data-target="#myModal2" style="outline: none;" onclick="myModal2()" value="新增企业用工情况">
									<input type="button" class='btn btn-success btn-sm' data-toggle="modal" data-target="#myModal5" style="outline: none;" onclick="myModal()" value="导入企业用工情况">
								</form>
							</div>

						</div>
						<div class="panel-body" style="margin-top: 15px;">
							<!-- 用工情况表格 -->
							<table class="table table-bordered table-hover">
								<thead>
									<th>序号</th>
									<th>企业名称</th>
									<th>用工人数</th>
									<th>参保人数</th>
									<th>参保率</th>
									<th>操作</th>

								</thead>
								<tbody class="corporationEmploy1">

								</tbody>
							</table>
							<div class="row">
								<nav class="page col-md-3 col-md-offset-9" aria-label="Page navigation">
									<ul class="pagination" style="margin: 40px -240px;">
										<li id="fristPage">
											<a href="#" aria-label="Previous">
												<span aria-hidden="true">首页</span>
											</a>
										</li>
										<li id="previous">
											<a href="#" aria-label="Previous">
												<span aria-hidden="true">上一页</span>
											</a>
										</li>
										<li id="next">
											<a href="#" aria-label="Next">
												<span aria-hidden="true">下一页</span>
											</a>
										</li>
										<li id="lastPage">
											<a href="#" aria-label="Next">
												<span aria-hidden="true">尾页</span>
											</a>
										</li>
									</ul>
									<div id="" style="float: right; margin: 40px;">
										<span>跳转到</span>
										<input type="number" name="" id="toPage" value="" style="width: 40px;height: 25px;border-radius: 3px; text-align: center;" />
										<span>页</span>
										<button class="btn btn-primary btn-sm" id="jumpPage" style="margin-left: 10px;">确定</button>
									</div>
								</nav>
							</div>
						</div>
					</div>
				</div>

				<div class="tableEle" id="actionEle3">
					<div class="panel panel-default" id="panel3" style="display: none;">
						<div class="panel-body" style="margin-top: 15px;">
							<!-- 搜索框 -->
							<div class="col-md-8">
								<form class="form-inline">
									<div class="form-group">
										<label>企业用工查询：</label>
									</div>
									<div class="input-group input-group-sm">
										<input type="text" placeholder="企业名称" class="form-control searchName2">
										<span class="input-group-btn">
                                            <button class="btn btn-success" type="button" id="search3" onclick="searchRoute(this)">搜索</button>
                                        </span>
									</div>
									<input type="button" class='btn btn-success btn-sm' data-toggle="modal" data-target="#myModal3" style="outline: none;" onclick="myModal3()" value="新增企业用工需求">
									<input type="button" class='btn btn-success btn-sm' data-toggle="modal" data-target="#myModal5" style="outline: none;" onclick="myModal()" value="导入企业用工需求">
								</form>
							</div>

						</div>
						<div class="panel-body" style="margin-top: 15px;">
							<!-- 表格 -->
							<table class="table table-bordered table-hover">
								<thead>
									<th>序号</th>
									<th>企业名称</th>
									<th>工种</th>
									<th>人数需求</th>
									<th>人员缺口</th>
									<th>操作</th>

								</thead>
								<tbody class="corporationResource2">

								</tbody>
							</table>
							<div class="row">
								<nav class="page col-md-3 col-md-offset-9" aria-label="Page navigation">
									<ul class="pagination" style="margin: 40px -240px;">
										<li id="fristPage">
											<a href="#" aria-label="Previous">
												<span aria-hidden="true">首页</span>
											</a>
										</li>
										<li id="previous">
											<a href="#" aria-label="Previous">
												<span aria-hidden="true">上一页</span>
											</a>
										</li>
										<li id="next">
											<a href="#" aria-label="Next">
												<span aria-hidden="true">下一页</span>
											</a>
										</li>
										<li id="lastPage">
											<a href="#" aria-label="Next">
												<span aria-hidden="true">尾页</span>
											</a>
										</li>
									</ul>
									<div id="" style="float: right; margin: 40px;">
										<span>跳转到</span>
										<input type="number" name="" id="toPage" value="" style="width: 40px;height: 25px;border-radius: 3px; text-align: center;" />
										<span>页</span>
										<button class="btn btn-primary btn-sm" id="jumpPage" style="margin-left: 10px;">确定</button>
									</div>
								</nav>
							</div>
						</div>
					</div>
				</div>
				<div class="tableEle" id="actionEle4">
					<div class="panel panel-default" id="panel4" style="display: none;">
						<div class="panel-body" style="margin-top: 15px;">
							<!-- 搜索框 -->
							<div class="col-md-8">
								<form class="form-inline">
									<div class="form-group">
										<label>医疗保险查询：</label>
									</div>
									<div class="input-group input-group-sm">
										<input type="text" placeholder="乡办名称" class="form-control searchName3">
										<span class="input-group-btn">
                                            <button class="btn btn-success" type="button" id="search4" onclick="searchRoute(this)">搜索</button>
                                        </span>
									</div>
									<input type="button" class='btn btn-success btn-sm' data-toggle="modal" data-target="#myModal4" style="outline: none;" onclick="myModal4()" value="新增医疗保险">
									<input type="button" class='btn btn-success btn-sm' data-toggle="modal" data-target="#myModal5" style="outline: none;" onclick="myModal()" value="导入医疗保险">
								</form>
							</div>

						</div>
						<div class="panel-body" style="margin-top: 15px;">
							<!-- 表格 -->
							<table class="table table-bordered table-hover">
								<thead>
									<th>乡办</th>
									<th>户籍人口</th>
									<th>职工医保</th>
									<th>居民医保</th>
									<th>参保率</th>
									<th>操作</th>

								</thead>
								<tbody class="mecialInsurance1">

								</tbody>
							</table>
							<div class="row">
								<nav class="page col-md-3 col-md-offset-9" aria-label="Page navigation">
									<ul class="pagination" style="margin: 40px -240px;">
										<li id="fristPage">
											<a href="#" aria-label="Previous">
												<span aria-hidden="true">首页</span>
											</a>
										</li>
										<li id="previous">
											<a href="#" aria-label="Previous">
												<span aria-hidden="true">上一页</span>
											</a>
										</li>
										<li id="next">
											<a href="#" aria-label="Next">
												<span aria-hidden="true">下一页</span>
											</a>
										</li>
										<li id="lastPage">
											<a href="#" aria-label="Next">
												<span aria-hidden="true">尾页</span>
											</a>
										</li>
									</ul>
									<div id="" style="float: right; margin: 40px;">
										<span>跳转到</span>
										<input type="number" name="" id="toPage" value="" style="width: 40px;height: 25px;border-radius: 3px; text-align: center;" />
										<span>页</span>
										<button class="btn btn-primary btn-sm" id="jumpPage" style="margin-left: 10px;">确定</button>
									</div>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 养老保险参保情况 -->
		<div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="outline: none;"><span aria-hidden="true" onclick="cleanForm()">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">养老保险参保情况</h4>
					</div>
					<div class="modal-body ">
						<form class="form-horizontal clearform">
							<div class="form-group">
								<label class="col-md-3" for="account1">乡办名称</label>
								<div class="col-md-6">
									<input type="text" class="form-control" id="account1" name="addTitle" onblur="addCheckTitle()" placeholder="乡办名称">
								</div>
								<span style="height: 34px; line-height: 34px; color: red;">*</span>
								<span id="titlespan"></span>
							</div>
							<div class="form-group">
								<label class="col-md-3" for="userName6">户籍人口总数</label>
								<div class="col-md-6">
									<input type="text" id="userName6" class="form-control" name="peopleNumber" onblur="addCheckPeople()" placeholder="户籍人口总数">
								</div>
								<span style="height: 34px; line-height: 34px; color: red;">*</span>
								<span id="peopleSpan"></span>
							</div>
							<div class="form-group">
								<label class="col-md-3" for="userName1">职工养老人数</label>
								<div class="col-md-6">
									<input type="text" id="userName1" class="form-control" name="workerNumber" onblur="addCheckWorker()" placeholder="职工养老人数">
								</div>
								<span style="height: 34px; line-height: 34px; color: red;">*</span>
								<span id="workerSpan"></span>
							</div>
							<div class="form-group">
								<label class="col-md-3" for="idCard4">居民养老人数</label>
								<div class="col-md-6">
									<input type="text" class="form-control" id="idCard4" name="oldNumber" onblur="addCheckOld()" placeholder="居民养老人数">
								</div>
								<span style="height: 34px; line-height: 34px; color: red;">*</span>
								<span id="oldSpan"></span>
							</div>

						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal" style="outline: none;" onclick="cleanForm()">关闭</button>
						<button type="button" class="btn btn-primary save" style="outline: none;" data-dismiss="modal" id="addAccessory">保存</button>
					</div>
				</div>
			</div>
		</div>

		<!-- 企业用工情况 -->
		<div class="modal fade" id="myModal2" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="outline: none;"><span aria-hidden="true" onclick="cleanForm()">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">企业用工情况</h4>
					</div>
					<div class="modal-body ">
						<form class="form-horizontal clearform">
							<div class="form-group">
								<label class="col-md-3" for="agencyNumber">企业名称</label>
								<div class="col-md-6">
									<input type="text" class="form-control" id="agencyNumber" name="addNumber5" onblur="editorPersonalNumber3()" placeholder="企业名称">
								</div>
								<span style="height: 34px; line-height: 34px; color: red;">*</span>
								<span id="spanTip5"></span>
							</div>
							<div class="form-group">
								<label class="col-md-3" for="agencyName1">用工人数</label>
								<div class="col-md-6">
									<input type="text" id="agencyName1" class="form-control" name="addworker" onblur="editorworkerNumber()" placeholder="用工人数">
								</div>
								<span style="height: 34px; line-height: 34px; color: red;">*</span>
								<span id="workerspan1"></span>
							</div>
							<div class="form-group">
								<label class="col-md-3" for="agencyName">参保人数</label>
								<div class="col-md-6">
									<input type="text" id="agencyName" class="form-control" name="addpeople" onblur="editorpeopleNumber()" placeholder="参保人数">
								</div>
								<span style="height: 34px; line-height: 34px; color: red;">*</span>
								<span id="peoplespan1"></span>
							</div>

						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal" style="outline: none;" onclick="cleanForm()">关闭</button>
						<button type="button" class="btn btn-primary save" style="outline: none;" data-dismiss="modal" id="addAccessory1">保存</button>
					</div>
				</div>
			</div>
		</div>
		<!-- 企业用工需求 -->
		<div class="modal fade" id="myModal3" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="outline: none;"><span aria-hidden="true" onclick="cleanForm()">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">企业用工需求</h4>
					</div>
					<div class="modal-body ">
						<form class="form-horizontal clearform">
							<div class="form-group">
								<label class="col-md-3" for="agencyNumber1">企业名称</label>
								<div class="col-md-6">
									<input type="text" class="form-control" id="agencyNumber1" name="addNumber1" onblur="editorAgencyTitle()" placeholder="企业名称">
								</div>
								<span style="height: 34px; line-height: 34px; color: red;">*</span>
								<span id="spanTip1"></span>
							</div>
							<div class="form-group">
								<label class="col-md-3" for="agencyName2">工种名称</label>
								<div class="col-md-6">
									<input type="text" id="agencyName2" class="form-control" name="agencyName2" onblur="editorNameTitle()" placeholder="工种名称">
								</div>
								<span style="height: 34px; line-height: 34px; color: red;">*</span>
								<span id="agencySpan"></span>
							</div>
							<div class="form-group">
								<label class="col-md-3" for="agencyName3">人数需求</label>
								<div class="col-md-6">
									<input type="text" id="agencyName3" class="form-control" name="addWantNumber1" onblur="editorWantTitle()" placeholder="人数需求">
								</div>
								<span style="height: 34px; line-height: 34px; color: red;">*</span>
								<span id="WantSpan"></span>
							</div>

							<div class="form-group">
								<label class="col-md-3" for="address2">人数缺口</label>
								<div class="col-md-6">
									<input type="text" class="form-control" id="address2" name="addPeople" onblur="editorPeopleTitle()" placeholder="人数缺口">
								</div>
								<span style="height: 34px; line-height: 34px; color: red;">*</span>
								<span id="peopleSpanTip"></span>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal" style="outline: none;" onclick="cleanForm()">关闭</button>
						<button type="button" class="btn btn-primary save" style="outline: none;" data-dismiss="modal" id="addAccessory2">保存</button>
					</div>
				</div>
			</div>
		</div>

		<!-- 新录医保报销 -->
		<div class="modal fade" id="myModal4" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="outline: none;"><span aria-hidden="true" onclick="cleanForm()">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">基本医疗保险参保情况</h4>
					</div>
					<div class="modal-body ">
						<form class="form-horizontal clearform">
							<div class="form-group">
								<label class="col-md-3" for="personalNumber1">乡办名称</label>
								<div class="col-md-6">
									<input type="text" class="form-control" id="personalNumber1" name="addNumber2" onblur="addpersonalNumber()" placeholder="乡办名称">
								</div>
								<span style="height: 34px; line-height: 34px; color: red;">*</span>
								<span id="spanTip2"></span>
							</div>
							<div class="form-group">
								<label class="col-md-3" for="userName2">户籍人口</label>
								<div class="col-md-6">
									<input type="text" id="userName2" class="form-control" name="peopleNumber1" onblur="addCheckPeople1()" placeholder="户籍人口">
								</div>
								<span style="height: 34px; line-height: 34px; color: red;">*</span>
								<span id="peopleSpan1"></span>
							</div>
							<div class="form-group">
								<label class="col-md-3" for="idCard1">职工医保</label>
								<div class="col-md-6">
									<input type="text" id="idCard1" class="form-control" name="workerNumber1" onblur="addCheckWorker1()" placeholder="职工医保">
								</div>
								<span style="height: 34px; line-height: 34px; color: red;">*</span>
								<span id="workerSpan1"></span>
							</div>
							<div class="form-group">
								<label class="col-md-3" for="totalAmount">居民医保</label>
								<div class="col-md-6">
									<input type="text" id="totalAmount" class="form-control" name="oldNumber1" onblur="addCheckOld1()" placeholder="居民医保">
								</div>
								<span style="height: 34px; line-height: 34px; color: red;">*</span>
								<span id="oldSpan1"></span>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal" style="outline: none;" onclick="cleanForm()">关闭</button>
						<button type="button" class="btn btn-primary save" style="outline: none;" data-dismiss="modal" id="addAccessory3">保存</button>
					</div>
				</div>
			</div>
		</div>
		<!-- 导入档案 -->
		<div class="modal fade" id="myModal5" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="outline: none;"><span aria-hidden="true" id='modelClose'>&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">导入</h4>
					</div>
					<div class="modal-body">
						<!-- <form class="form-horizontal"> -->

						<div id="uploader" class="wu-example">

							<div class="btns">
								<div id="picker">选择文件</div>

							</div>
							<!--用来存放文件信息-->
							<div id="thelist" class="uploader-list"></div>
						</div>

						<!-- 
                    </form> -->

					</div>
					<div class="modal-footer">
						<button id="ctlBtn" class="btn btn-default">开始上传</button>
						<button type="button" class="btn btn-default" data-dismiss="modal" style="outline: none;" id='fileClose'>关闭</button>
					</div>
				</div>
			</div>
		</div>

		<!-- 编辑养老保险 -->
		<div class="modal fade" id="editor" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="outline: none;"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">养老保险参保情况</h4>
					</div>
					<div class="modal-body">
						<form class="form-horizontal">
							<div class="form-group">
								<label class="col-md-3" for="account2">乡办名称</label>
								<div class="col-md-6">
									<input type="text" class="form-control" id="account2" name="addTitle1" onblur="addCheckTitle1()" placeholder="乡办名称">
								</div>
								<span style="height: 34px; line-height: 34px; color: red;">*</span>
								<span id="titlespan1"></span>
							</div>
							<div class="form-group">
								<label class="col-md-3" for="userName3">户籍人口总数</label>
								<div class="col-md-6">
									<input type="text" id="userName3" class="form-control" name="peopleNumber2" onblur="addCheckPeople2()" placeholder="户籍人口总数">
								</div>
								<span style="height: 34px; line-height: 34px; color: red;">*</span>
								<span id="peopleSpan2"></span>
							</div>
							<div class="form-group">
								<label class="col-md-3" for="userName4">职工养老人数</label>
								<div class="col-md-6">
									<input type="text" id="userName4" class="form-control" name="workerNumber2" onblur="addCheckWorker2()" placeholder="职工养老人数">
								</div>
								<span style="height: 34px; line-height: 34px; color: red;">*</span>
								<span id="workerSpan2"></span>
							</div>
							<div class="form-group">
								<label class="col-md-3" for="idCard2">居民养老人数</label>
								<div class="col-md-6">
									<input type="text" class="form-control" id="idCard2" name="oldNumber2" onblur="addCheckOld2()" placeholder="居民养老人数">
								</div>
								<span style="height: 34px; line-height: 34px; color: red;">*</span>
								<span id="oldSpan2"></span>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal" style="outline: none;">关闭</button>
						<button type="button" class="btn btn-primary save" style="outline: none;" data-dismiss="modal" id="addAccessory4">保存</button>
					</div>
				</div>

			</div>
		</div>

		<!-- 编辑企业用工情况 -->
		<div class="modal fade" id="editor2" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="outline: none;"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">企业用工情况</h4>
					</div>
					<div class="modal-body">
						<form class="form-horizontal">
							<div class="form-group">
								<label class="col-md-3" for="agencyNumber2">企业名称</label>
								<div class="col-md-6">
									<input type="text" class="form-control" id="agencyNumber2" name="addNumber4" onblur="editorPersonalNumber1()" placeholder="企业名称">
								</div>
								<span style="height: 34px; line-height: 34px; color: red;">*</span>
								<span id="spanTip4"></span>
							</div>
							<div class="form-group">
								<label class="col-md-3" for="agencyName4">用工人数</label>
								<div class="col-md-6">
									<input type="text" id="agencyName4" class="form-control" name="addworker1" onblur="editorworkerNumber1()" placeholder="用工人数">
								</div>
								<span style="height: 34px; line-height: 34px; color: red;">*</span>
								<span id="workerspan"></span>
							</div>
							<div class="form-group">
								<label class="col-md-3" for="agencyName5">参保人数</label>
								<div class="col-md-6">
									<input type="text" id="agencyName5" class="form-control" name="addpeople1" onblur="editorpeopleNumber1()" placeholder="参保人数">
								</div>
								<span style="height: 34px; line-height: 34px; color: red;">*</span>
								<span id="peoplespan"></span>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal" style="outline: none;">关闭</button>
						<button type="button" class="btn btn-primary save" style="outline: none;" data-dismiss="modal" id="addAccessory5">保存</button>
					</div>
				</div>
			</div>
		</div>

		<!-- 编辑企业用工需求 -->
		<div class="modal fade" id="editor3" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="outline: none;"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">企业用工情况</h4>
					</div>
					<div class="modal-body">
						<form class="form-horizontal">
							<div class="form-group">
								<label class="col-md-3" for="agencyNumber3">企业名称</label>
								<div class="col-md-6">
									<input type="text" class="form-control" id="agencyNumber3" name="addNumber" onblur="addAgencyNumber()" placeholder="企业名称">
								</div>
								<span style="height: 34px; line-height: 34px; color: red;">*</span>
								<span id="spanTip"></span>
							</div>
							<div class="form-group">
								<label class="col-md-3" for="agencyName6">工种名称</label>
								<div class="col-md-6">
									<input type="text" id="agencyName6" class="form-control" name="agencyName" onblur="editorNameTitle1()" placeholder="工种名称">
								</div>
								<span style="height: 34px; line-height: 34px; color: red;">*</span>
								<span id="agencySpan1"></span>
							</div>
							<div class="form-group">
								<label class="col-md-3" for="agencyName7">人数需求</label>
								<div class="col-md-6">
									<input type="text" id="agencyName7" class="form-control" name="addWantNumber" onblur="editorWantTitle1()" placeholder="人数需求">
								</div>
								<span style="height: 34px; line-height: 34px; color: red;">*</span>
								<span id="WantSpan1"></span>
							</div>

							<div class="form-group">
								<label class="col-md-3" for="address4">人数缺口</label>
								<div class="col-md-6">
									<input type="text" class="form-control" id="address4" name="addPeople2" onblur="editorPeopleTitle1()" placeholder="人数缺口">
								</div>
								<span style="height: 34px; line-height: 34px; color: red;">*</span>
								<span id="peopleSpanTip1"></span>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal" style="outline: none;">关闭</button>
						<button type="button" class="btn btn-primary save" style="outline: none;" data-dismiss="modal" id="addAccessory6">保存</button>
					</div>
				</div>
			</div>
		</div>
		<!-- 编辑医疗保险 -->
		<div class="modal fade" id="editor4" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="outline: none;"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">基本医疗保险参保情况</h4>
					</div>
					<div class="modal-body">
						<form class="form-horizontal">
							<div class="form-group">
								<label class="col-md-3" for="personalNumber">乡办名称</label>
								<div class="col-md-6">
									<input type="text" class="form-control" id="personalNumber" name="addNumber3" onblur="editorArchives()" placeholder="乡办名称">
								</div>
								<span style="height: 34px; line-height: 34px; color: red;">*</span>
								<span id="spanTip3"></span>
							</div>
							<div class="form-group">
								<label class="col-md-3" for="userName5">户籍人口</label>
								<div class="col-md-6">
									<input type="text" id="userName5" class="form-control" name="peopleNumber3" onblur="addCheckPeople3()" placeholder="户籍人口">
								</div>
								<span style="height: 34px; line-height: 34px; color: red;">*</span>
								<span id="peopleSpan3"></span>
							</div>
							<div class="form-group">
								<label class="col-md-3" for="idCard3">职工医保</label>
								<div class="col-md-6">
									<input type="text" id="idCard3" class="form-control" name="workerNumber3" onblur="addCheckWorker3()" placeholder="职工医保">
								</div>
								<span style="height: 34px; line-height: 34px; color: red;">*</span>
								<span id="workerSpan3"></span>
							</div>
							<div class="form-group">
								<label class="col-md-3" for="totalAmount1">居民医保</label>
								<div class="col-md-6">
									<input type="text" id="totalAmount1" class="form-control" name="oldNumber3" onblur="addCheckOld3()" placeholder="居民医保">
								</div>
								<span style="height: 34px; line-height: 34px; color: red;">*</span>
								<span id="oldSpan3"></span>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal" style="outline: none;">关闭</button>
						<button type="button" class="btn btn-primary save" style="outline: none;" data-dismiss="modal" id="addSaves">保存</button>
					</div>
				</div>
			</div>
		</div>

		<!-- 删除 -->
		<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="outline: none;"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">是否删除？</h4>
					</div>
					<div class="modal-body">
						您是否确认删除本行数据？
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal" style="outline: none;">取消</button>
						<button type="button" class="btn btn-primary" data-dismiss="modal" style="outline: none;" id="deleteData">确认</button>
					</div>
				</div>
			</div>
		</div>

		<!-- 个人信息 -->
		<div class="modal fade" id="personalInformation" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" style="outline: none;" class="close" data-dismiss="modal" aria-label="Close" onclick="closeWindow()" style="outline: none;"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">个人信息</h4>
					</div>
					<div class="modal-body">
						<form class="form-horizontal" id="information">
							<div class="form-group">
								<label class="col-md-2">账号</label>
								<div class="col-md-6">
									<input type="text" id="userId" disabled class="form-control" value="111111">
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-2">用户名</label>
								<div class="col-md-6">
									<input type="text" id="userName" disabled class="form-control" value="张三">
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-2">部门</label>
								<div class="col-md-6">
									<select name="" id="multiSelect" disabled>
										<option value="请选择">请选择</option>
										<option value="01">社保中心</option>
										<option value="02">就管中心</option>
										<option value="03">劳动监察</option>
										<option value="04">劳动人事争议仲裁院</option>
										<option value="05">人事处</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-2">角色</label>
								<div class="col-md-6">
									<select name="" id="multiSelect2" disabled>
										<option value="请选择">请选择</option>
										<option value="0">管理员</option>
										<option value="1">普通用户</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-2">手机号码</label>
								<div class="col-md-6">
									<input type="text" id="phone" disabled class="form-control" value="18188888888">
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-2">备注</label>
								<div class="col-md-6">
									<input type="text" id="remark" disabled class="form-control" value="我是管理员">
								</div>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button style="outline: none;" type="button" class="btn btn-default" data-dismiss="modal" onclick="restoreSettings()" style="outline: none;">关闭</button>
						<button style="outline: none;" type="button" class="btn btn-primary" id="informationEditor" onclick="myEditor()" style="outline: none;">编辑</button>
					</div>
				</div>
			</div>
		</div>

		<!-- 退出登录 -->
		<div class="modal fade" id="logOut" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="outline: none;"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">退出登录</h4>
					</div>
					<div class="modal-body">
						您是否确认退出此次登录？
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal" style="outline: none;">取消</button>
						<button type="button" class="btn btn-primary" style="outline: none;" onclick="exitLogon()">确认</button>
					</div>
				</div>
			</div>
		</div>

		<!-- 修改密码 -->
		<div class="modal fade" id="changePassword" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="outline: none;"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">修改密码</h4>
					</div>
					<div class="modal-body">
						<form class="form-horizontal" id="formInformation">
							<div class="form-group">
								<label class="col-md-2">原密码</label>
								<div class="col-md-6">
									<input type="password" class="form-control" placeholder="原密码">
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-2">新密码</label>
								<div class="col-md-6">
									<input type="password" class="form-control" placeholder="新密码">
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-2">确认密码</label>
								<div class="col-md-6">
									<input type="password" class="form-control" placeholder="确认密码">
								</div>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal" style="outline: none;">关闭</button>
						<button type="button" class="btn btn-primary" data-dismiss="modal" style="outline: none;" onclick="changePwd()">保存</button>
					</div>
				</div>
			</div>
		</div>

		<script src="../assets/js/jquery-1.10.2.js"></script>
		<script src='../assets/lib/bootstrap/dist/js/bootstrap.js'></script>
		<script src="../assets/js/domainName.js" type="text/javascript" charset="utf-8"></script>
		<script src='../assets/js/jquery.cookie.js'></script>
		<script src="../assets/js/common.js"></script>
		<script src="../assets/js/index.js"></script>
		<script src="../assets/js/sidebarAnimation.js"></script>
		<script src='../webuploader/webuploader.js'></script>
		<script src="../assets/js/dataFillaj.js" type="text/javascript" charset="utf-8"></script>
		<script src="../assets/js/info.js"></script>
		<script src="../assets/js/cookie.js"></script>
		<script src="../assets/js/navigationList.js"></script>
		<script>
			//点击关闭、X图标以及阴影部分触发函数
			function cleanForm() {
				$('.clearform')[0].reset();
				$('.clearform')[1].reset();
				$('.clearform')[2].reset();
				$('.clearform')[3].reset();
				$('#titlespan').html('');
				$('#peopleSpan').html('');
				$('#workerSpan').html('');
				$('#oldSpan').html('');
				$('#spanTip5').html('');
				$('#workerspan1').html('');
				$('#peoplespan1').html('');
				$('#spanTip1').html('');
				$('#agencySpan').html('');
				$('#WantSpan').html('');
				$('#peopleSpanTip').html('');
				$('#spanTip2').html('');
				$('#peopleSpan1').html('');
				$('#workerSpan1').html('');
				$('#oldSpan1').html('');
			}
			//点击阴影关闭隐藏框是防止子级元素触发cleanForm()函数（防止子级继承父级的点击事件）
			//			function stopBubble(e) {
			//				if(e && e.stopPropagation) { //非IE浏览器 
			//					　　
			//					e.stopPropagation();
			//				} else { //IE浏览器 
			//					window.event.cancelBubble = true;
			//				}
			//			}
			//点击阴影关闭隐藏框是防止子级元素触发cleanForm()函数
			$(document).on('click', '#myModal', function(e) {
				// 判断触发事件的DOM元素 是否为 本身绑定的DOM元素
				if(e.target === $(this)[0]) {
					// 用户事务处理代码
					cleanForm();
				}
			});
			$(document).on('click', '#myModal2', function(e) {
				if(e.target === $(this)[0]) {
					cleanForm();
				}
			});
			$(document).on('click', '#myModal3', function(e) {
				if(e.target === $(this)[0]) {
					cleanForm();
				}
			});
			$(document).on('click', '#myModal4', function(e) {
				if(e.target === $(this)[0]) {
					cleanForm();
				}
			});

			function show_sub(v) {
				if(v == '5') {
					document.getElementById('panel1').style.display = 'block';
					document.getElementById('panel2').style.display = 'none';
					document.getElementById('panel3').style.display = 'none';
					document.getElementById('panel4').style.display = 'none';
				} else if(v == '2') {
					document.getElementById('panel2').style.display = 'block';
					document.getElementById('panel1').style.display = 'none';
					document.getElementById('panel3').style.display = 'none';
					document.getElementById('panel4').style.display = 'none';
				} else if(v == '3') {
					document.getElementById('panel1').style.display = 'none';
					document.getElementById('panel2').style.display = 'none';
					document.getElementById('panel3').style.display = 'block';
					document.getElementById('panel4').style.display = 'none';
				} else if(v == '6') {
					document.getElementById('panel1').style.display = 'none';
					document.getElementById('panel2').style.display = 'none';
					document.getElementById('panel3').style.display = 'none';
					document.getElementById('panel4').style.display = 'block';

				}
			}
			$(function() {
				var flag = true;
				$('.navbar-brand').click(function() {
					if(flag) {
						$("#aside").animate({
							marginLeft: '-180px'
						});
						$(".main").animate({
							marginLeft: '0px'
						});
						flag = false;
					} else {
						$("#aside").animate({
							marginLeft: '0px'
						});
						$(".main").animate({
							marginLeft: '180px'
						});
						flag = true;
					}

				})
				$('#myModal5').on('shown.bs.modal', function() { //提示框显示时候触发
					uploader.refresh(); //刷新当前webUploder
				});
				var uploader = WebUploader.create({

					// swf文件路径
					swf: '../assets/js/Uploader.swf',

					// 文件接收服务端。
					server: ipAddress + '/datasrv/importData',

					// 选择文件的按钮。可选。
					// 内部根据当前运行是创建，可能是input元素，也可能是flash.
					pick: '#picker',

					// 不压缩image, 默认如果是jpeg，文件上传前会压缩一把再上传！
					resize: false,
					chunked: true, // 是否分片
					duplicate: true, //去重， 根据文件名字、文件大小和最后修改时间来生成hash Key.

				});
				uploader.on('fileQueued', function(file) {
					$("#thelist").append('<div id="' + file.id + '" class="item" style="position:relative">' +

						'<div class="am-badge" style="float:left;">' + file.name + '</div>' + '<div class="fa fa-close fileRemove" style="float:right;    cursor: pointer"></div>' + '</br>' +

						'<p class="state">等待上传...</p>' +

						'</div>');
					//点击删除按钮此行删除
					$('.fileRemove').click(function() {
						$(this).parent().remove()
					})
					//追加导入数据类型    
					uploader.on('uploadBeforeSend', function(obj, data) {
						//传入表单参数
						data = $.extend(data, {
							"imptype": $('#mySelect  option:selected').val()
						});
					});
					// 文件上传过程中创建进度条实时显示。
					uploader.on('uploadProgress', function(file, percentage) {
						var $li = $('#' + file.id),
							$percent = $li.find('.progress .progress-bar');

						// 避免重复创建
						if(!$percent.length) {
							$percent = $('<div class="progress progress-striped active">' +
								'<div class="progress-bar" role="progressbar" style="width: 0%">' +
								'</div>' +
								'</div>').appendTo($li).find('.progress-bar');
						}

						$li.find('p.state').text('上传中');

						$percent.css('width', percentage * 100 + '%');
					});
				});
				uploader.on('uploadSuccess', function(file,result) {
					if(result.code == 4004) {
						$('#' + file.id).find('p.state').text('导入成功');
						$('#' + file.id).find('p.state').append('<div style="color:red ;font-size:13px">' + result.message + '</div>');
					} else if(result.code == 1000) {
						$('#' + file.id).find('p.state').text('导入出错');
						$('#' + file.id).find('p.state').append('<div style="color:red ;font-size:13px">数据异常</div>');
					} else {
						$('#' + file.id).find('p.state').text('导入出错');
						$('#' + file.id).find('p.state').append('<div style="color:red ;font-size:13px">' + result.message + '</div>');
					}

				});

				uploader.on('uploadError', function(file,result) {
					$('#' + file.id).find('p.state').text('上传出错');
					$('#' + file.id).find('p.state').append('<div style="color:red ;font-size:13px">'+ result.message +'</div>');
				});

				uploader.on('uploadComplete', function(file) {
					$('#' + file.id).find('.progress').fadeOut();
				})
				$("#ctlBtn").click(function() {
					uploader.upload();
				});
				$('#fileClose').click(function() {
					$('.item').remove()
					$(tableGate.actionEle1.dom).find('tbody').html('')
					tableGate.actionEle1.loadData();
					$(tableGate.actionEle2.dom).find('tbody').html('')
					tableGate.actionEle2.loadData();
					$(tableGate.actionEle3.dom).find('tbody').html('')
					tableGate.actionEle3.loadData();
					$(tableGate.actionEle4.dom).find('tbody').html('')
					tableGate.actionEle4.loadData();
				})
				$('#modelClose').click(function() {
					$('.item').remove()
				});
			})
		</script>
	</body>

</html>